@import url('styles.css');

/* -------------------------
    RIGHT IMAGE CONTENT SECTION (right-image-content)
------------------------- */
.right-image-content {
    background-color: var(--green-aso);
    padding-top: 5%;
    display: flex;
    flex-direction: row;
}

.right-image-content .content {
    padding: 8%;
    padding-top: 5%;
    color: var(--white);
    width: 45%;
}

.right-image-content .content h4 {
    color: var(--light-green-aso);
    letter-spacing: 1rem;
}

.right-image-content .content h2 {
    padding: 10% 0%;
}

.right-image-content img {
    position: static;
    margin-left: auto;
    margin-top: auto;
    width: 55%;
    margin-bottom: -5%;
}

.page-wrapper {
    position: relative;
}

/* -------------------------
    LEFT IMAGE CONTENT SECTION (left-image-content)
------------------------- */
.left-image-content {
    display: flex;
    background-color: #fff4ef;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: -1;
}

.left-image-content img {
    width: 45%;
    height: 45%;
}

.left-image-content .content {
    display: flex;
    flex-direction: column;
    padding: 18% 10%;
}

.left-image-content .content img {
    width: 25%;
}

.left-image-content .content h3 {
    color: var(--dark-oranje-aso);
}

.left-image-content .content h5 {
    color: var(--green-aso);
}

/* -------------------------
    FISCAL BENEFITS SECTION (fiscal-benefits)
------------------------- */
.fiscal-benefits {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    background-color: var(--very-light-orange-aso);
    z-index: 1;
}

.fiscal-benefits .content {
    display: flex;
    flex-direction: column;
    color: var(--green-aso);
    text-align: left;
    padding: 15% 8%;
}

.fiscal-benefits .content img {
    width: 25%;
    padding: 0%;
    align-self: flex-start;
}

.fiscal-benefits .content h3 {
    color: var(--dark-oranje-aso);
    padding: 5% 0%;
}

.fiscal-benefits img {
    width: 45%;
    height: 55%;
    padding: 8% 0%;
    z-index: 2;
    align-self: center;
}

.fiscal-benefits .draw {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    position: absolute;

    /* Position the circles relative to the section */
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    justify-content: center;
    width: 50%;
    pointer-events: none;
}

.fiscal-benefits .draw canvas {
    position: absolute;
}

.fiscal-benefits .draw #fiscal-benefits-center-circle {
    width: 17rem;
    height: 17rem;
    top: 20%;
    left: 65%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* -------------------------
    GLOBALLY POSITIONED BOTTOM CUT CIRCLE
------------------------- */
#fiscal-benefits-bottom-cut-circle {
    position: absolute;
    width: 40rem;
    height: 40rem;
    bottom: 40%;
    left: auto;
    right: 0%;
    z-index: 0;
}

/* -------------------------
    WANT TO COLABORATE SECTION (want-to-colaborate)
------------------------- */
.want-to-colaborate {
    padding: 8% 25%;
    text-align: center;
    align-items: center;
}

.want-to-colaborate h5 {
    color: var(--dark-oranje-aso);
}

.want-to-colaborate button {
    margin-top: 3rem;
    background-color: var(--dark-oranje-aso);
}

/* -------------------------
    SPONSORSHIP MAPPING SECTION (sponsorship-mapping)
------------------------- */
.sponsorship-mapping {
    background-color: var(--oranje-aso);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 0;
    padding-bottom: 5%;
}

.sponsorship-mapping h4 {
    line-height: 1.5;
    padding: 0 25%;
    text-align: center;
    color: var(--white);
    margin-bottom: 5%;
}

.sponsorship-mapping .solutions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    width: 80%;
    max-width: 1200px;
}

.sponsorship-mapping .solutions .item {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2.5rem;
    padding: 2.5rem;
    width: 50%;
    display: flex;
    text-align: center;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.sponsorship-mapping .solutions .item:first-child {
    padding: 0;
    overflow: hidden;
}


.sponsorship-mapping .solutions .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 0;
    border-radius: 2.5rem;
}

.sponsorship-mapping .solutions .item h5 {
    color: var(--green-aso);
    margin-top: 5%;
    font-weight: 700;
    margin-bottom: 1rem;
}

.sponsorship-mapping .solutions .item .paragraph-normal {
    color: var(--green-aso);
    padding: 0% 12%;
    padding-top: 5%;
}

/* -------------------------
    SPONSORSHIP MODALITY SOLUTION SECTION (sponsorship-modality)
------------------------- */
.sponsorship-modality {
    background-color: var(--very-light-orange-aso);
    flex-direction: column;
    align-items: center;
}

.sponsorship-modality h3 {
    padding: 0% 20%;
    padding-top: 8%;
    text-align: center;
    color: var(--dark-oranje-aso);
}

.sponsorship-modality .solutions {
    padding-top: 5%;
    padding-bottom: 15%;
    display: flex;
    flex-direction: row;
}

.sponsorship-modality .solutions .item {
    width: 33%;
    border: 1px solid var(--green-aso);
    padding: 0;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sponsorship-modality .solutions .item:first-child {
    border-left: none;
}

.sponsorship-modality .solutions .item:last-child {
    border-right: none;
}

.sponsorship-modality .solutions .item h5 {
    padding: 5% 0%;
    font-weight: 700;
    color: var(--green-aso);
}


/* Mediums devices (desktops, 768px and down) */
@media (max-width: 768px) {
    /* -------------------------
        SPONSORSHIP MAPPING SECTION (sponsorship-mapping)
    ------------------------- */
    .sponsorship-mapping .solutions {
        flex-direction: column;
        width: 90%;
        align-items: center;
    }

    .sponsorship-mapping .solutions .item {
        margin-bottom: 2rem;
        padding: 2rem;
        width: 80%;
    }

    .sponsorship-mapping .solutions .item:first-child {
        padding: 0;
    }

    .sponsorship-mapping h4 {
        padding: 0 0%;
        margin-bottom: 2rem;
    }

    .sponsorship-mapping .solutions .item .paragraph-normal {
        padding: 0% 0%;
    }
}


/* Mediums devices (desktops, 1080px and down) */
@media (max-width: 1080px) {

    /* -------------------------
        HELP US SECTION (right-image-content)
    ------------------------- */
    .right-image-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .right-image-content .content {
        width: 100%;
    }

    .right-image-content .content h4 {
        letter-spacing: 0.4rem;
    }

    .right-image-content img {
        margin-right: auto;
        width: 70%;
        margin-top: 5%;
        margin-bottom: 10%;
    }

    /* -------------------------
        LEFT IMAGE CONTENT SECTION (left-image-content)
    ------------------------- */
    .left-image-content {
        flex-direction: column;
    }

    .left-image-content img {
        padding-top: 10%;
        width: 70%;
        margin-bottom: 0%;
    }

    .left-image-content .content {
        padding: auto 10%;
        padding-top: 5%;
        align-items: center;
        text-align: center;
    }

    .left-image-content .content img {
        width: 40%;
    }

    /* -------------------------
        FISCAL BENEFITS SECTION (fiscal-benefits)
    ------------------------- */
    .fiscal-benefits {
        flex-direction: column;
    }


    .fiscal-benefits .content {
        align-items: center;
        text-align: center;
        padding: 5% 8%;
    }

    .fiscal-benefits .content img {
        align-self: center;
    }

    .fiscal-benefits img {
        width: 70%;
    }

    .fiscal-benefits .draw #fiscal-benefits-center-circle {
        top: 70%;
        z-index: -1;
    }

    #fiscal-benefits-bottom-cut-circle {
        display: none;
    }

    /* -------------------------
        WANT TO COLABORATE SECTION (want-to-colaborate)
    ------------------------- */
    .want-to-colaborate {
        padding: 10%;
    }

    .want-to-colaborate button {
        align-self: center;
    }

    /* -------------------------
        SPONSORSHIP MODALITY SOLUTION SECTION (sponsorship-modality)
    ------------------------- */
    .sponsorship-modality .solutions {
        padding-top: 5%;
        display: flex;
        flex-direction: column;
    }

    .sponsorship-modality .solutions .item {
        width: 100%;
        border-left: none;
        border-right: none;
    }

}