@import url('styles.css');

/* -------------------------
    FOOTER STYLES
------------------------- */
.site-footer {
    display: flex;
    flex-direction: column;
    color: var(--white);
}

/* Styles for the upper section */
.site-footer .asoPMR-info {
    background-color: var(--oranje-aso);
}

.site-footer .asoPMR-info .asoPMR-content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3% 5%;
    margin-bottom: 8%;
}

.site-footer .asoPMR-info .column {
    margin: 0% 2rem;
    justify-content: center;
}

.site-footer .asoPMR-info .logo {
    width: 20%;
}

.site-footer .asoPMR-info .logo img {
    width: 120px;
    height: 220px;
}

.site-footer .asoPMR-content-wrapper .contact {
    width: 20%;
}

.site-footer .asoPMR-content-wrapper .contact button {
    padding: 3% 5%;
    border: 1px solid var(--white);
}

.site-footer .asoPMR-content-wrapper .news {
    width: 20%;
}

.site-footer .column a {
    text-decoration: none;
    color: var(--white);
}

.site-footer .column a:hover {
    text-decoration: underline;
}


.site-footer .asoPMR-content-wrapper .more-info {
    width: 20%;
}

.site-footer .asoPMR-info .asoPMR-content-wrapper .column .paragraph-normal {
    color: var(--green-aso);
    padding-bottom: 1.5rem;
}

.site-footer .asoPMR-info .column div h2 {
    margin-top: 3%;
}

.site-footer .aso-policies {
    background-color: var(--green-aso);
    padding: 1.5rem 0;
    text-align: center;
    width: 100%;
}

.site-footer .aso-policies {
    padding-top: 3%;
}

.site-footer .aso-policies .policies {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-bottom: 2rem;
}

.site-footer .aso-policies .policies,
.site-footer .aso-policies .inscribtion-info {
    padding: 1%;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}

.site-footer .policies a {
    color: var(--white);
    align-self: center;
}

.site-footer .policies p {
    display: block;
    padding: 0 1rem;
}

.site-footer .policies a {
    text-decoration: none;
}

.site-footer .policies a:hover {
    text-decoration: underline;
}

/* Very small devices (phones, 620px and down) */
@media (max-width: 620px) {
    .site-footer .asoPMR-info .asoPMR-content-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem 1rem;
        padding: 8% 3%;
    }

    .site-footer .asoPMR-info .column {
        margin: 0;
        text-align: center;
    }

    .site-footer .asoPMR-info .logo {
        width: 100%;
        align-self: center;
        padding-right: 10%;
    }

    .site-footer .asoPMR-info .logo img {
        content: url("../img/asoPMR-logo-white.webp");
        padding: auto;
        width: 80px;
        height: 50px;
    }

    .site-footer .asoPMR-content-wrapper .contact,
    .site-footer .asoPMR-content-wrapper .news,
    .site-footer .asoPMR-content-wrapper .more-info {
        width: 100%;
        padding-left: 0;
    }

    .site-footer .asoPMR-info h1 {
        padding-bottom: 0.5rem;
    }

    .site-footer .policies {
        margin-bottom: 1rem;
    }

    .site-footer .policies p {
        padding: 0 0.1rem;
        text-align: center;
    }

    .site-footer .policies a {
        text-decoration: none;
        font-size: 0.5rem;
    }

    .site-footer .inscribtion-info .paragraph-normal {
        font-size: 0.5rem;
    }
}