@import url('styles.css');

h3 {
    font-weight: 400 !important;;
}

/* -------------------------
    HOME SECTION (home)
------------------------- */
.home {
    display: flex;
    flex-direction: column;
    min-height: calc(80vh);
    background-color: var(--green-aso);
    position: relative;
}

.home .title {
    margin-top: 1%;
    margin-left: 10%;
    max-width: 75%;
    color: var(--white);
    letter-spacing: 3px;
}

.home .images {
    display: flex;
    padding-top: 2%;
    position: relative;
    margin-top: auto;
    justify-content: flex-start;
    align-items: flex-end;
}

.home .image {
    margin-bottom: -5%;
    width: 55%;
    height: 30%;
    object-fit: cover;
    flex-shrink: 0;
}

.home .subimage {
    position: static;
    max-width: 22rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

/* -------------------------
    SUBHOME SECTION (subhome)
------------------------- */
.subhome {
    display: flex;
    padding: 7% 0%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.subhome .title {
    color: var(--green-aso);
    margin-left: 6%;
    flex: 1;
    min-width: 200px;
    max-width: 50%;
}

.subhome .image {
    width: 40%;
    max-width: 650px;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 0%;
}

/* -------------------------
    SERVICE-BENEFITS SECTION (service-benefits)
------------------------- */
.service-benefits {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.service-benefits .title {
    width: 100%;
    padding: 3rem;
    text-align: center;
    background-color: var(--dark-oranje-aso);
    color: var(--white);
}

.grid-container {
    position: static;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: stretch;
    overflow: hidden;
}

.grid-item .image-container {
    width: 100%;
    overflow: hidden;
    margin-bottom: 0;
    flex-grow: 1;
}

.grid-item .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.grid-item .paragraph-bold {
    flex-shrink: 0;
    padding: 2.2rem 1.5rem;
    height: 108px;
    color: var(--white);
    background-color: var(--light-orange-aso);
    margin-top: 0;
}

.grid-item-center .paragraph-bold {
    background-color: var(--slightly-darker-orange-aso);
}

/* -------------------------
    PARK4DIS SECTION (park4dis-sample)
------------------------- */
.park4dis-sample {
    padding-top: 5%;
    display: flex;
    position: relative;
    overflow: hidden;
    padding-bottom: 10%;
}

.park4dis-sample .content {
    margin-left: 10%;
    max-width: 45%;
}

.park4dis-sample h3 {
    color: var(--green-aso);
}

.park4dis-sample .paragraph-normal {
    margin-top: 2rem;
}

.park4dis-sample .content .feature-list {
    margin-top: 1rem;
}

.park4dis-sample .draw {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    position: absolute;

    /* Position the circles relative to the section */
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    justify-content: center;
    width: 50%;
    pointer-events: none;
}

.park4dis-sample .draw img {
    position: absolute;
    z-index: 10;
    width: 230px;
    top: 30%;
    margin-left: -20%;
}

/* Circles */
.park4dis-sample .draw canvas {
    position: absolute;
}

.park4dis-sample .draw #p4d-center-circle {
    width: 13rem;
    height: 13rem;
    top: 25%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.park4dis-sample .draw #p4d-bottom-left-circle {
    width: 23rem;
    height: 23rem;
    bottom: 10%;
    right: -10rem;
    z-index: 1;
}

.park4dis-sample .draw #p4d-bottom-cut-circle {
    width: 30rem;
    height: 30rem;
    bottom: -10rem;
    left: -10%;
    z-index: 0;
}

.park4dis-sample .download-app-container {
    margin-left: -40%;
}

/* -------------------------
    SPOT4DIS SECTION (spot4dis-sample)
------------------------- */
.spot4dis-sample {
    background-color: var(--very-light-orange-aso);
    padding-top: 5%;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    overflow: hidden;
    padding-bottom: 10%;
}

.spot4dis-sample .content {
    margin-right: 10%;
    max-width: 45%;
}

.spot4dis-sample h3 {
    color: var(--green-aso);
}

.spot4dis-sample .paragraph-normal {
    margin-top: 2rem;
}

.spot4dis-sample .content .feature-list {
    margin-top: 0;
    flex-direction: row;
    flex-wrap: wrap;
    width: 120%;
}

.spot4dis-sample .content .feature-item {
    padding-top: 1rem;
}

.spot4dis-sample .content .feature-item {
    padding-right: 4%;
}

.spot4dis-sample .content .feature-item img {
    margin-right: 0.3rem;
}

.spot4dis-sample .draw {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    position: absolute;

    /* Position the circles relative to the section */
    top: 0;
    right: 0;
    bottom: 0;
    right: 50%;
    justify-content: center;
    width: 50%;
    pointer-events: none;
}

.spot4dis-sample .draw img {
    position: absolute;
    z-index: 10;
    width: 200px;
    top: 25%;
}

/* Circles */
.spot4dis-sample .draw canvas {
    position: absolute;
}

.spot4dis-sample .draw #s4d-center-circle {
    width: 13rem;
    height: 13rem;
    top: 20%;
    right: 45%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.spot4dis-sample .draw #s4d-bottom-left-circle {
    width: 23rem;
    height: 23rem;
    bottom: 10%;
    left: -10rem;
    z-index: 1;
}

.spot4dis-sample .draw #s4d-bottom-cut-circle {
    width: 30rem;
    height: 30rem;
    bottom: -10rem;
    right: -10%;
    z-index: 0;
}

.spot4dis-sample .download-app-container {
    margin-left: 50%;
    transform: translate(-50%, 0%);
}

.spot4dis-sample .download-app-container button {
    background-color: var(--dark-oranje-aso);
}

/* -------------------------
    OUR GOAL SECTION (our-goal)
------------------------- */
.our-goal {
    display: flex;
    flex-direction: column;
}

.our-goal .title {
    text-align: center;
    color: var(--white);
    background-color: var(--green-aso);
}

.our-goal .title h2 {
    margin: 5% 5%;
}

/* -------------------------
    TRANSFORM MUNITIPALITY SECTION (transform-munitipality)
------------------------- */
.transform-munitipality {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

.transform-munitipality .content {
    display: flex;
    flex-direction: row;
}

.transform-munitipality .content .title {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    width: 45%;
}

.transform-munitipality .content .title .paragraph-bold {
    color: var(--dark-oranje-aso);
}

.transform-munitipality .content .title h3 {
    padding: 25px 0px;
}

.transform-munitipality .content img {
    position: static;
    margin-left: auto;
    margin-right: 3%;
    margin-bottom: -8%;
    width: 40%;
    z-index: 1;
}

.transform-munitipality .feature-list {
    background-color: var(--very-light-orange-aso);
    padding-left: 12%;
    padding-top: 5%;
    padding-bottom: 10%;
}

/* -------------------------
    PARK4DIS ADMIN SECTION (park4dis-admin)
------------------------- */
.park4dis-admin {
    display: flex;
    padding: 10% 5%;
}

.park4dis-admin img {
    padding-top: 5%;
    width: 50%;
    height: 100%;
}

.park4dis-admin .content {
    padding: 0 5%;
}

.park4dis-admin .content h3 {
    color: var(--dark-oranje-aso);
}

.park4dis-admin .content p {
    padding: 10% 0;
}

.park4dis-admin .content button {
    margin-top: 10%;
    background-color: var(--green-aso);
}

/* Small devices (phones, 768px and down) */
@media (max-width: 768px) {

    /* -------------------------
        HOME SECTION (home)
    ------------------------- */
    .home {
        min-height: auto;
        margin-bottom: 0rem;
        align-items: center;
        gap: 20px;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .home .title {
        text-align: center;
    }

    .home .images {
        flex-direction: column;
        align-items: center;
    }

    .home .image {
        width: 60%;
        margin-bottom: 1rem;
        padding: 0;
        left: auto;
        right: auto;
    }

    .home .subimage {
        position: static;
        left: 0%;
        bottom: 1rem;
        margin-top: 1rem;
        right: 0%;
        width: 10rem;
    }

    /* -------------------------
        SUBHOME SECTION (subhome)
    ------------------------- */
    .subhome {
        align-items: center;
        flex-direction: column;
    }

    .subhome .title {
        position: static;
        text-align: center;
        margin-left: 0%;
        margin-top: 8%;
    }

    .subhome .image {
        position: static;
        padding-left: 0rem;
        width: 60%;
        height: auto;
        padding-top: 2rem;
    }

    /* -------------------------
        SERVICE-BENEFITS SECTION (service-benefits)
    ------------------------- */

    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    }

    .grid-item h3 {
        padding: 2rem 0rem;
    }
}

/* Mediums devices (desktops, 1080px and down) */
@media (max-width: 1080px) {

    /* -------------------------
        HOME SECTION (home)
    ------------------------- */
    .home {
        min-height: calc(70vh);
    }


    .home .subimage {
        max-width: 15rem;
    }

    /* -------------------------
        PARK4DIS SECTION (park4dis-sample)
    ------------------------- */
    .park4dis-sample {
        flex-direction: column;
        padding-bottom: 15%;
        overflow: visible;
    }

    .park4dis-sample .content {
        margin-left: 50%;
        transform: translate(-50%, 0%);
        max-width: 100%;
        width: 70%;
        text-align: center;
    }

    .park4dis-sample .content h3 {
        text-align: center;
    }

    .park4dis-sample .feature-list {
        margin-top: 2rem;
    }

    .park4dis-sample .feature-item p {
        text-align: start;
    }

    .park4dis-sample .draw {
        position: relative;
        width: 100%;
        left: 0;
        top: auto;
        justify-content: center;
        margin-top: 2rem;
        pointer-events: auto;
    }

    .park4dis-sample .draw img {
        position: relative;
        width: 60%;
        top: auto;
        margin-left: 0;
        order: 1;
    }

    .park4dis-sample .draw canvas {
        position: absolute;
    }

    .park4dis-sample .draw #p4d-center-circle {
        position: absolute;
        width: 75%;
        top: 20%;
        left: 5%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    .park4dis-sample .draw #p4d-bottom-left-circle {
        z-index: -1;
        position: absolute;
        width: 60%;
        top: 100%;
        left: 90%;
        transform: translate(-50%, -50%);
    }

    .park4dis-sample .draw #p4d-bottom-cut-circle {
        visibility: hidden;
        /* To not overlap the screen even with hidden */
        width: 10%;
    }

    .park4dis-sample .download-app-container {
        margin-left: auto;
    }


    /* -------------------------
        SPOT4DIS SECTION (spot4dis-sample)
    ------------------------- */
    .spot4dis-sample {
        flex-direction: column;
        padding-bottom: 15%;
        overflow: visible;
        /* Allow overflow for better mobile layout */
    }

    .spot4dis-sample .content {
        margin-left: 50%;
        transform: translate(-50%, 0%);
        max-width: 100%;
        width: 70%;
        text-align: center;
    }

    .spot4dis-sample .content h3 {
        text-align: center;
    }

    .spot4dis-sample .content .feature-list {
        margin-top: 1rem;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .spot4dis-sample .content .feature-item {
        padding-left: 4%;
        padding-top: 2%;
        justify-content: flex-start;
    }

    .spot4dis-sample .draw {
        position: relative;
        width: 100%;
        left: 0;
        top: auto;
        justify-content: center;
        margin-top: 2rem;
        pointer-events: auto;
    }

    .spot4dis-sample .draw img {
        position: relative;
        width: 60%;
        top: auto;
        margin-left: 0;
        order: 1;
    }

    .spot4dis-sample .draw canvas {
        position: absolute;
    }

    .spot4dis-sample .draw #s4d-center-circle {
        position: absolute;
        width: 75%;
        top: 15%;
        left: 5%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    .spot4dis-sample .draw #s4d-bottom-left-circle {
        z-index: -1;
        position: absolute;
        width: 60%;
        top: 100%;
        left: 90%;
        transform: translate(-50%, -50%);
    }

    .spot4dis-sample .draw #s4d-bottom-cut-circle {
        visibility: hidden;
        /* To not overlap the screen even with hidden */
        width: 10%;
    }

    /* -------------------------
        TRANSFORM MUNITIPALITY SECTION (transform-munitipality)
    ------------------------- */
    .transform-munitipality .content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .transform-munitipality .content .title {
        padding-left: auto;
        width: 90%;
        align-items: center;
        text-align: center;
    }

    .transform-munitipality .content img {
        margin-right: auto;
        width: 70%;
        margin-top: 10%;
        margin-bottom: 0%;
    }

    .transform-munitipality .feature-list {
        padding: 10% 10%;
    }
    /* -------------------------
        PARK4DIS ADMIN SECTION (park4dis-admin)
    ------------------------- */
    .park4dis-admin {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .park4dis-admin img {
        width: 60%;
    }

    .park4dis-admin .content {
        padding: 0 10%;
    }
    .park4dis-admin .content p {
        padding: 5% 0;
    }
}
