@import url('basic.css');

/* -------------------------
    HOME SECTION (home)
------------------------- */
.home {
    display: flex;
    min-height: calc(100vh);
    background-color: var(--green-aso);
    position: relative;
    color: var(--green-aso);
    margin-bottom: 10rem;
}


.home .title {
    position: absolute;
    top: 1%;
    left: 10%;
    font-size: 3rem;
    color: var(--white);
    font-weight: 100;
    letter-spacing: 3px;
}

.home .image {
    position: absolute;
    padding: auto;
    bottom: -10%;
    width: 60%;
    height: 70%;
}

.home .subimage {
    position: absolute;
    padding: auto;
    bottom: 20%;
    left: 70%;
    width: 20rem;
    height: auto;
}

/* -------------------------
    SUBHOME SECTION (subhome)
------------------------- */

.subhome {
    display: flex;
}


/* Small devices (phones, 768px and down) */
@media (max-width: 768px) {

    /* -------------------------
        HOME SECTION (home)
    ------------------------- */
    .home {
        min-height: auto;
        margin-bottom: 0rem;
        align-items: center;
        gap: 20px;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .home .title {
        position: static;
        text-align: center;
        font-size: 2.2rem;
        transform: none;
        margin-bottom: 1rem;
    }

    .home .image {
        position: static;
        width: 80%;
        height: auto;
        margin-bottom: 1rem;
        padding: 0;
        left: auto;
        right: auto;
    }

    .home .subimage {
        position: static;
        margin-top: 1rem;
    }
}

/* Large devices (desktops, 768px and up) */
@media (min-width: 1080px) {
    .home .title {
        font-size: 4em;
    }

    .home .subimage {
        width: 25rem;
        bottom: 15%;
    }
}