@import url('styles.css');

/* -------------------------
    SERVICES SECTION (services)
------------------------- */
.services {
    padding-top: 5%;
    display: flex;
    flex-direction: row;
}

.services h2 {
    width: 55%;
    padding-left: 8%;
    padding-top: 8%;
    color: var(--green-aso);
}

.services img {
    position: static;
    margin-left: auto;
    width: 40%;
    margin-bottom: -5%;
}

/* -------------------------
    SUPPORT SECTION (support)
------------------------- */
.support .container {
    background-color: var(--dark-oranje-aso);
    padding: 5%;
}

.support .features {
    background-color: var(--very-light-orange-aso);
    padding-left: 12%;
    padding-top: 5%;
    padding-bottom: 8%;
    padding-right: 10%;
}

.support .features h3 {
    padding-top: 5%;
    text-align: left;
    padding-left: 3.5rem;
    color: var(--dark-oranje-aso);
}

.support .features .feature-item p strong {
    color: var(--dark-oranje-aso);
}

/* -------------------------
    SERVICE LEFT IMAGE SECTION (service-left-image)
------------------------- */
.service-left-image {
    padding: 8%;
    display: flex;
    flex-direction: row;
}

.service-left-image .image {
    width: 30%;
    max-height: 650px;
}

.service-left-image .content {
    padding-left: 5%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.service-left-image .content h3 {
    color: var(--dark-oranje-aso);
    padding-top: 8%;
    padding-bottom: 1.5rem;
    text-align: left;
}

.service-left-image .content .feature-item {
    padding-top: 5%;
    text-align: left;
}

.service-left-image button {
    background-color: var(--dark-oranje-aso);
    margin-top: 10%;
    align-self: center;
}

/* -------------------------
    TECHNOLOGY SOLUTION SECTION (technology-solution)
------------------------- */
.technology-solution {
    background-color: var(--light-gray);
    flex-direction: column;
    align-items: center;
}

.technology-solution .head {
    padding: 0% 20%;
    padding-top: 8%;
    text-align: center;
}

.technology-solution .head h3 {
    color: var(--dark-oranje-aso);
}

.technology-solution .head h5 {
    padding-top: 2rem;
    color: var(--green-aso);
    line-height: 150%;
}

.technology-solution .solutions {
    padding-top: 5%;
    display: flex;
    flex-direction: row;
}

.technology-solution .solutions .item {
    width: 50%;
    border: 1px solid var(--green-aso);
    padding: 3% 3%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.technology-solution .solutions .item:first-child {
    border-left: none;
}

.technology-solution .solutions .item:last-child {
    border-right: none;
}

.technology-solution .solutions .item .image-container {
    width: 30%;
    padding-bottom: 20%;
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
}

.technology-solution .solutions .item .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.technology-solution .solutions .item .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    justify-content: space-between;
    height: 100%;
}

.technology-solution .solutions .item h3,
.technology-solution .solutions .item h5 {
    margin: 0;
    color: var(--green-aso);
}

.technology-solution .solutions .item .content .download-app-container {
    margin-top: auto;
}

/* -------------------------
    PMR COURSES SECTION (PMR-courses)
------------------------- */
.PMR-courses {
    background-color: var(--very-light-orange-aso);
    padding: 5% 10%;
    align-items: center;
    text-align: center;
}

.PMR-courses h3 {
    color: var(--dark-oranje-aso);
}

.PMR-courses h5 {
    padding: 5% 20%;
}

.PMR-courses button {
    background-color: var(--dark-oranje-aso);
}

/* -------------------------
    SERVICE RIGHT IMAGE SECTION (service-right-image)
------------------------- */
.service-right-image {
    padding: 8%;
    display: flex;
    flex-direction: row;
}

.service-right-image .image {
    width: 30%;
}

.service-right-image .content {
    padding-left: 5%;
    padding-right: 3%;
}

.service-right-image .content h3 {
    color: var(--dark-oranje-aso);
    padding-bottom: 1.5rem;
}

.service-right-image .content .feature-item {
    padding-top: 5%;
}

/* Mediums devices (desktops, 1080px and down) */
@media (max-width: 1080px) {

    /* -------------------------
        SERVICES SECTION (services)
    ------------------------- */
    .services {
        flex-direction: column;
        align-items: center;
    }

    .services h2 {
        padding-left: 0%;
        padding: 0% 10%;
        text-align: center;
        width: 100%;
    }

    .services img {
        margin-right: auto;
        width: 70%;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    /* -------------------------
        SUPPORT SECTION (support)
    ------------------------- */
    .support .features h3 {
        padding-left: 0;
        text-align: center;
        padding-bottom: 1.5rem;
    }

    /* -------------------------
        SERVICE LEFT IMAGE SECTION (service-left-image)
    ------------------------- */
    .service-left-image {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .service-left-image .image {
        padding-top: 8%;
        width: 70%;
    }

    .service-left-image .content .feature-item {
        padding-top: 5%;
    }

    .service-left-image .content h3 {
        text-align: center;
    }

    .service-left-image .content .feature-item p {
        text-align: left;
    }

    /* -------------------------
        TECHNOLOGY SOLUTION SECTION (technology-solution)
    ------------------------- */
    .technology-solution .solutions {
        padding-top: 5%;
        display: flex;
        flex-direction: column;
    }

    .technology-solution .solutions .item {
        width: 100%;
    }

    .technology-solution .solutions .item:first-child {
        border-left: none;
        border-right: none;
    }

    /* -------------------------
        PMR COURSES SECTION (PMR-courses)
    ------------------------- */
    .PMR-courses h5 {
        padding: 10% 0%;
    }

    /* -------------------------
        SERVICE RIGHT IMAGE SECTION (service-right-image)
    ------------------------- */
    .service-right-image {
        flex-direction: column;
        align-items: center;
    }

    .service-right-image .image {
        padding-top: 10%;
        width: 70%;
    }

    .service-right-image .content {
        padding: 0%;
    }

    .service-right-image .content h3 {
        text-align: center;
    }
}