@import url('styles.css');

/* -------------------------
    SERVICES SECTION (services)
------------------------- */
.services {
    padding-top: 5%;
    display: flex;
    flex-direction: row;
}

.services h1 {
    width: 55%;
    padding-left: 8%;
    padding-top: 8%;
    color: var(--green-aso);
    font-size: 3.5rem;
    font-weight: 100;
}

.services img {
    position: static;
    margin-left: auto;
    width: 40%;
    margin-bottom: -5%;
}

/* -------------------------
    SUPPORT SECTION (support)
------------------------- */
.support .container {
    background-color: var(--dark-oranje-aso);
    padding: 5%;
}

.support .features {
    background-color: var(--very-light-orange-aso);
    padding-left: 12%;
    padding-top: 5%;
    padding-bottom: 8%;
    padding-right: 10%;
}

.support .features h1 {
    padding-top: 5%;
    text-align: left;
    font-size: 2.5rem;
    padding-left: 3.5rem;
    color: var(--dark-oranje-aso);
}

.support .features .feature-item p {
    font-weight: 100;
    font-size: 1.4rem;
}

.support .features .feature-item p strong {
    color: var(--dark-oranje-aso);
    font-weight: 900;
}

/* -------------------------
    SERVICE LEFT IMAGE SECTION (service-left-image)
------------------------- */
.service-left-image {
    padding: 8%;
    display: flex;
    flex-direction: row;
}

.service-left-image .image {
    width: 40%;
}

.service-left-image .content {
    padding-left: 5%;
}

.service-left-image .content h1 {
    color: var(--dark-oranje-aso);
    padding-top: 8%;
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
}

.service-left-image .content h2 {
    font-weight: 100;
    font-size: 2rem;
}

.service-left-image .content .feature-item {
    padding-top: 5%;
}

.service-left-image .content .feature-item p {
    font-weight: 100;
    font-size: 1.3rem;
}

.service-left-image .content button {
    background-color: var(--dark-oranje-aso);
    margin-left: 50%;
    margin-top: 10%;
    transform: translate(-50%, 0%);
}

/* -------------------------
    TECHNOLOGY SOLUTION SECTION (technology-solution)
------------------------- */
.technology-solution {
    background-color: var(--light-gray);
    flex-direction: column;
    align-items: center;
}

.technology-solution .head {
    padding: 0% 20%;
    padding-top: 8%;
    text-align: center;
}

.technology-solution .head h1 {
    color: var(--dark-oranje-aso);
    font-size: 2.5rem;
}

.technology-solution .head h2 {
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 100;
    color: var(--green-aso);
}

.technology-solution .solutions {
    padding-top: 5%;
    display: flex;
    flex-direction: row;
}

.technology-solution .solutions .item {
    width: 50%;
    border: 1px solid var(--green-aso);
    padding: 3% 3%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.technology-solution .solutions .item .image-container {
    width: 30%;
    padding-bottom: 20%;
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
}

.technology-solution .solutions .item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.technology-solution .solutions .item .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 100%;
}

.technology-solution .solutions .item h1 {
    margin: 0;
    font-size: 2.5rem;
    color: var(--green-aso);
}

.technology-solution .solutions .item button {
    background-color: var(--green-aso);
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
}

.technology-solution .solutions .item:first-child {
    border-left: none;
}

.technology-solution .solutions .item:last-child {
    border-right: none;
}

/* -------------------------
    PMR COURSES SECTION (PMR-courses)
------------------------- */
.PMR-courses {
    background-color: var(--very-light-orange-aso);
    padding: 5% 10%;
    align-items: center;
    text-align: center;
}

.PMR-courses h1 {
    color: var(--dark-oranje-aso);
    font-size: 2.5rem;
}

.PMR-courses h2 {
    font-weight: 100;
    font-size: 2rem;
    padding: 5% 15%;
}

.PMR-courses button {
    background-color: var(--dark-oranje-aso);
}

/* -------------------------
    SERVICE RIGHT IMAGE SECTION (service-right-image)
------------------------- */
.service-right-image {
    padding: 8%;
    display: flex;
    flex-direction: row;
}

.service-right-image .image {
    width: 40%;
    padding-top: 3rem;
}

.service-right-image .content {
    padding-left: 5%;
    padding-right: 3%;
}

.service-right-image .content h1 {
    color: var(--dark-oranje-aso);
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
}

.service-right-image .content h2 {
    font-weight: 100;
    font-size: 2rem;
}

.service-right-image .content .feature-item {
    padding-top: 5%;
}

.service-right-image .content .feature-item p {
    font-weight: 100;
    font-size: 1.3rem;
}

/* Mediums devices (desktops, 1080px and down) */
@media (max-width: 1080px) {

    /* -------------------------
        SERVICES SECTION (services)
    ------------------------- */
    .services {
        flex-direction: column;
        align-items: center;
    }

    .services h1 {
        padding-left: 0%;
        padding: 0% 10%;
        text-align: center;
        width: 100%;
        font-size: 2rem;
    }

    .services img {
        margin-right: auto;
        width: 70%;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    /* -------------------------
        SUPPORT SECTION (support)
    ------------------------- */
    .support .features h1 {
        padding-left: 0;
        font-size: 2rem;
        text-align: center;
        padding-bottom: 1.5rem;
    }

    /* -------------------------
        SERVICE LEFT IMAGE SECTION (service-left-image)
    ------------------------- */
    .service-left-image {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .service-left-image .image {
        padding-top: 8%;
        width: 70%;
    }

    .service-left-image .content h1 {
        font-size: 2rem;
    }

    .service-left-image .content h2 {
        font-size: 1.3rem;
    }

    .service-left-image .content .feature-item {
        padding-top: 5%;
    }

    .service-left-image .content .feature-item p {
        text-align: left;
    }

    .service-left-image .content button {
        margin-left: auto;
        transform: translate(0%, 0%);
    }

    /* -------------------------
        TECHNOLOGY SOLUTION SECTION (technology-solution)
    ------------------------- */
    .technology-solution .head h1 {
        font-size: 2.2rem;
    }

    .technology-solution .head h2 {
        font-size: 1.5rem;
    }

    .technology-solution .solutions {
        padding-top: 5%;
        display: flex;
        flex-direction: column;
    }

    .technology-solution .solutions .item {
        width: 100%;
    }

    /* -------------------------
        PMR COURSES SECTION (PMR-courses)
    ------------------------- */
    .PMR-courses h1 {
        font-size: 2rem;
    }

    .PMR-courses h2 {
        font-size: 1.6rem;
        padding: 10% 0%;
    }

    /* -------------------------
    SERVICE RIGHT IMAGE SECTION (service-right-image)
------------------------- */
    .service-right-image {
        flex-direction: column;
        align-items: center;
    }

    .service-right-image .image {
        width: 70%;
    }

    .service-right-image .content {
        padding: 0%;
    }

    .service-right-image .content h1 {
        font-size: 2rem;
        text-align: center;
    }

    .service-right-image .content h2 {
        font-size: 2rem;
    }

    .service-right-image .content .feature-item p {
        font-weight: 100;
        font-size: 1.2rem;
    }
}