@import url('header.css');
@import url('join-community.css');
@import url('footer.css');

/* -------------------------
    BASIC RESET
------------------------- */
@font-face {
    font-family: 'Borna';
    src: url('../fonts/Borna-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Borna';
    src: url('../fonts/Borna-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Borna';
    src: url('../fonts/Borna-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Borna';
    src: url('../fonts/Borna-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

/*
From the design font sizes in px
h0 76
h1 58
h2 42
h3 34
h4 30

buttons 22
feature-lists 22

parraf negrita 20
parraf normal 18

menus 18
*/

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Borna', sans-serif;
}

h1 {
    font-size: 4.75rem;
    /* 76px / 16px = 4.75rem */
    font-weight: 400;
    line-height: 110%;

}

h2 {
    font-size: 3.625rem;
    /* 58px / 16px = 3.625rem */
    font-weight: 400;
}

h3 {
    font-size: 2.625rem;
    /* 42px / 16px = 2.625rem */
    font-weight: 700;
    letter-spacing: 2px;
}

h4 {
    font-size: 2.125rem;
    /* 34px / 16px = 2.125rem */
    font-weight: 500;
    letter-spacing: 2px;
}

h5 {
    font-size: 1.875rem;
    /* 30px / 16px = 1.875rem */
    font-weight: 400;
}

/* Buttons and Feature Lists */
button,
.feature-list .feature-item {
    /* Assuming these are classes or relevant elements */
    font-size: 1.375rem;
    /* 22px / 16px = 1.375rem */
    font-weight: 400;
    line-height: 90%;
}

button {
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 8px;
}

/* Paragraphs */
.paragraph-bold {
    font-size: 1.25rem;
    /* 20px / 16px = 1.25rem */
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;

}

.paragraph-normal {
    font-size: 1.125rem;
    /* 18px / 16px = 1.125rem */
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;

}

/* Menus */
.nav-bar li a,
.dropdown-content li a,
.site-footer .asoPMR-info .asoPMR-content-wrapper .column p {
    font-size: 1.125rem;
    /* 18px / 16px = 1.125rem */
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
}

:root {
    --very-light-orange-aso: #FF925C30;
    --light-orange-aso: #ffb793;
    --oranje-aso: #FF915C;
    --slightly-darker-orange-aso: #ff9d6c;
    --dark-oranje-aso: #FF7733;

    --white: #FFFFFF;

    --green-aso: #1E4C50;
    --light-green-aso: #BDF24B;

    --border-color: #1E4C50;

    --light-gray: #f7f7f7
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Borna';
    background-color: #fff;
    color: #333;
}

/* -------------------------
    BUTTONS
------------------------- */
button {
    background-color: transparent;
    color: var(--white);
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    cursor: pointer;
    font: borna;
    transition: transform 0.2s ease-in-out;
    transform-origin: center;
    width: fit-content;
}

button:hover {
    transform: scale(1.05);
}

/* CONTACT BUTTON */
.contact-button {
    font-size: 100;
    letter-spacing: normal;
    outline: 2px solid white;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.contact-button:hover {
    color: black;
    background-color: white;
}

/* DONWLOAD APP BUTTON */
.download-app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download-app-container .button {
    margin-top: 3rem;
    background-color: var(--green-aso);
}

.download-app-container .button:hover {
    transform: none;
}

.download-app-container .button[disabled] {
    cursor: default;
}

.download-app-container .images {
    display: flex;
    flex-direction: row;
    position: relative;
}

.download-app-container .images img {
    padding: 10px 5px;
    width: 10rem;
    transition: transform 0.2s ease-in-out;
}

.download-app-container .images img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* -------------------------
    FEATURES LISTS
------------------------- */
.feature-list {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.feature-item {
    padding-top: 3%;
    display: flex;
    align-items: center;
}

.feature-item img {
    width: 24px;
    height: auto;
    align-self: center;
    margin-right: 2rem;
}

.feature-item p {
    margin: 0;
}

/* Very small devices (phones, 620px and down) */
@media (max-width: 620px) {
    .contact-button {
        font-size: 1rem;
    }
}


/* Media query for small screens (768px and below) */
@media (max-width: 768px) {
    button {
        font-size: 0.8rem;
        padding: 8px 10px;
    }
}

/* Media query for small screens (1080px and below) */
@media (max-width: 1080px) {

    h1 {
        font-size: 2.2rem;
        /* 76px / 16px = 4.75rem */

    }

    h2 {
        font-size: 1.8rem;
        /* 58px / 16px = 3.625rem */
    }

    h3 {
        font-size: 1.5rem;
        /* 42px / 16px = 2.625rem */

    }

    h4 {
        font-size: 1.3rem;
        /* 34px / 16px = 2.125rem */
    }

    h5 {
        font-size: 1.2rem;
        /* 30px / 16px = 1.875rem */
    }

    /* Buttons and Feature Lists */
    button,
    .feature-list .feature-item {
        /* Assuming these are classes or relevant elements */
        font-size: 1rem;
        /* 22px / 16px = 1.375rem */
    }

    /* Paragraphs */
    .paragraph-bold {
        font-size: 1rem;
        /* 20px / 16px = 1.25rem */

    }

    .paragraph-normal {
        font-size: 1rem;
        /* 18px / 16px = 1.125rem */

    }

    /* Menus */
    .nav-bar li a,
    .dropdown-content li a {
        font-size: 1rem;
        /* 18px / 16px = 1.125rem */
    }

    .download-app-container {
        width: 100%;
        align-items: center;
        gap: 12px;
        margin-top: 0rem;
    }

    .download-app-container .button {
        font-size: 1rem;
    }

    .download-app-container .images {
        flex-direction: column;
        align-items: center;
    }
}