/* -------------------------
    BASIC RESET
------------------------- */
@font-face {
    font-family: 'Borna';
    src: url('../fonts/Borna-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Borna';
    src: url('../fonts/Borna-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Borna';
    src: url('../fonts/Borna-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Borna';
    src: url('../fonts/Borna-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Borna';
    src: url('../fonts/Borna-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Borna';
    src: url('../fonts/Borna-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Borna';
    src: url('../fonts/Borna-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Borna';
    src: url('../fonts/Borna-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

:root {
    --light-orange-aso: #ffb793;
    --oranje-aso: #FF915C;
    --slightly-darker-orange-aso: #ff9d6c;
    --dark-oranje-aso: #ff8547;
    --white: #FFFFFF;
    --green-aso: #1E4C50;
    --light-green-aso: #BDF24B
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Borna';
    background-color: #fff;
    color: #333;
}

button {
    background-color: var(--green-aso);
    color: var(--white);
    border: none;
    padding: 8px 30px;
    letter-spacing: 7px;
    border-radius: 25px;
    font-weight: 500;
    font-size: 1.5rem;
    cursor: pointer;
    font: borna;
    transition: transform 0.2s ease-in-out;
    transform-origin: center;
}