/* -------------------------
    BASIC RESET
------------------------- */
:root {
    --oranje-aso: #FF925C;
    --white: #FFFFFF;
    --green-aso: #1E4C50
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Borna';
    background-color: #fff;
    color: #333;
}

/* -------------------------
    HEADER STYLES
------------------------- */
.site-header {
    background-color: var(--green-aso);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
}

.logo-language-container {
    display: flex;
    align-items: center;
}

.logo-container {
    display: block;
}

.logo {
    padding-left: 4rem;
    height: 5rem;
}

.nav-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-bar li {
    margin-right: 1rem;
}

.nav-bar li:first-child {
    margin-left: 0;
}

.nav-bar a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 1rem;
    transition: color 0.3s ease;
    text-align: center;
}

.nav-bar a:hover {
    color: var(--oranje-aso);
}

/* "COLABORA" Button Styling */
.site-header button.colabora-button {
    background-color: var(--oranje-aso);
    color: var(--white);
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    transform-origin: center;
}

.site-header button.colabora-button:hover {
    transform: scale(1.05);
}

.nav-bar {
    margin-left: auto;
}

.nav-bar li a {
    padding: 5px;
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    height: 3rem;
    order: 1;
    margin-left: auto;
}

/* Small devices (phones, 768px and down) */
@media (max-width: 1080px) {
    .site-header {
        flex-wrap: nowrap;
        position: relative;
    }

    .logo-language-container {
        width: auto;
        justify-content: flex-start;
        margin-bottom: 0;
    }

    .logo {
        padding-left: 1rem;
    }

    .nav-button-container {
        display: none;
    }

    .menu-toggle {
        display: block;
        padding-right: 1rem;
        margin-left: auto;
    }

    /* Position the initially hidden navigation bar */
    .nav-bar {
        position: absolute;
        top: 4rem;
        /* Below the header */
        left: 0;
        width: 100%;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        background-color: var(--green-aso);
        z-index: 10;
        display: none;
        /* Hidden by default */
    }

    .nav-bar.active {
        display: block;
    }

    .nav-bar ul {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        list-style: none;
        margin-bottom: 0;
    }

    .nav-bar li {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }

    .nav-bar a {
        display: block;
        margin-top: 1.5rem;
        text-align: center;
        font-size: 1.2rem;
        text-decoration: none;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .nav-bar a:hover {
        background-color: rgba(1, 49, 153, 0.1);
    }

    .site-header button.colabora-button {
        display: none;
        /* Hidden by default on small screens */
        position: absolute;
        top: auto;
        left: 50%;
        transform: translateX(-50%);
        z-index: 11;
        bottom: 1rem;
    }

    .nav-bar.active+button.colabora-button.active {
        display: block;
    }

    .site-header button.colabora-button {
        background-color: var(--green-aso);
        display: none;
        text-decoration: none;
        color: #FFFFFF;
        font-size: 1.2rem;
    }

    .site-header button.colabora-button:hover {
        color: var(--oranje-aso);
    }
}