@import url('styles.css');
@import url('header.css');
@import url('join-community.css');
@import url('footer.css');

/* -------------------------
    MISSION AND VISION SECTION (mission-vision)
------------------------- */
.mission-vision {
    display: flex;
    flex-direction: row;
    margin-bottom: -5%;
}

.mission-vision .content {
    position: static;
    margin-top: 10%;
    margin-left: 8%;
}

.mission-vision .content .mission .title,
.mission-vision .content .vision .title,
.mission-vision .content .mission .subtitle,
.mission-vision .content .vision .subtitle {
    font-weight: 500;
    font-size: 2.2rem;
}

.mission-vision .content .mission .subtitle {
    padding-top: 3%;
    color: var(--green-aso);
}

.mission-vision .content .vision .title {
    padding-top: 10%;
}

.mission-vision .content .vision .subtitle {
    padding-top: 3%;
    font-size: 1.8rem;
    width: 80%;
    color: var(--green-aso);
}

.mission-vision .content .mission .title,
.mission-vision .content .vision .title {
    color: var(--dark-oranje-aso);
    letter-spacing: 10px;
}

.mission-vision .images {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.mission-vision .images .up {
    position: relative;
    width: 50%;
    top: 5%;
    right: 10%;
}

.mission-vision .images .down {
    position: relative;
    width: 90%;
    bottom: -10%;
    right: 15%;
}

/* Media query for small screens (768px and below) */
@media (max-width: 768px) {
    .mission-vision {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        margin-bottom: 5%;
    }

    .mission-vision .content {
        width: 100%;
        text-align: center;
        margin-left: 0%;
    }

    .mission-vision .content .mission,
    .mission-vision .content .vision {
        margin-bottom: 1rem;
    }

    .mission-vision .content .vision .subtitle {
        width: 100%;
    }

    .mission-vision .images {
        width: 100%;
        flex-direction: row;
        align-self: center;
        align-items: center;
        margin-top: 2rem;
    }

    .mission-vision .images .up,
    .mission-vision .images .down {
        width: 50%;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        padding: 1rem;
    }
}

/* Mediums devices (desktops, 1080px and down) */
@media (max-width: 1080px) {

    /* -------------------------
        MISSION AND VISION SECTION (mission-vision)
    ------------------------- */
    .mission-vision .content .mission .title,
    .mission-vision .content .vision .title,
    .mission-vision .content .mission .subtitle,
    .mission-vision .content .vision .subtitle {
        font-weight: 500;
        font-size: 1.8rem;
    }

    .mission-vision .content .vision .subtitle {
        font-size: 1.5rem;
    }
}