/* -------------------------
    COOKIE BANNER SECTION (cookie-banner)
------------------------- */
#cookie-banner {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    z-index: 1000;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
}

#cookie-banner button,
#cookie-settings button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    background-color: #9ee870;
    color: #333;
    letter-spacing: normal;
}

#cookie-banner button#decline-cookies {
    background-color: transparent;
    border: 1px solid #ccc;
    color: #333;
}

body.high-contrast #cookie-banner,
body.white-text-mode #cookie-banner {
    background-color: #000 !important;
    border-top: 1px solid #BDF24B !important;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.8) !important;
}

body.high-contrast #cookie-banner button,
body.high-contrast #cookie-settings button,
body.white-text-mode #cookie-banner button,
body.white-text-mode #cookie-settings button {
    background-color: #BDF24B !important;
    color: #000 !important;
    border: 1px solid #BDF24B !important;
}

body.high-contrast #cookie-banner button#decline-cookies,
body.white-text-mode #cookie-banner button#decline-cookies {
    background-color: transparent !important;
    border: 1px solid #BDF24B !important;
    color: #BDF24B !important;
}

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
    /* -------------------------
        COOKIE
    ------------------------- */
    #cookie-banner {
        padding: 10px;
        /* Smaller padding on mobile */
    }

    #cookie-banner button {
        display: block;
        /* Button on its own line */
        margin: 10px auto 0;
        /* Center the button */
        width: 100%;
    }
}